.header {
  margin-bottom: var(--space-xl);
  padding: 15px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 670px;
  padding: var(--space-m);
  font-weight: 400;
  font-size: 20px;
  line-height: 158%;
  color: var(--dark-color);
  background-color: var(--light-grey-color);
  border-radius: 100px;
}

.header-search__input {
  font-size: 14px;
  width: 100%;
  padding-left: var(--space-l);
}

.header-search__input::placeholder {
  padding-left: var(--space-l);
  font-size: 14px;
}

.header-search__close-btn {
  padding: 4px;
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  transition: background-color 0.4s ease-in;
}

.header-search__close-btn:hover {
  background-color: var(--silver-color);
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions__wrap {
  display: flex;
  align-items: center;
  margin-right: var(--space-xl);
}

.header-actions__auth-btn {
  padding: var(--space-xs) var(--space-m);
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: var(--mariner-color);
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.header-actions__auth-btn:first-child {
  margin-right: var(--space-l);
}

.header-actions__link {
  position: relative;
  margin-right: var(--space-l);
  padding: var(--space-xs) var(--space-l);
  font-weight: 500;
  color: var(--mariner-color);
  line-height: 150%;
  background: var(--white-color);
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.cart-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white-color);
  font-size: 10px;
  z-index: 10;
}

.cart-counter::before {
  content: '';
  position: absolute;
  top: 3px;
  right: -5.2px;
  height: 16px;
  width: 16px;
  background-color: var(--red-color);
  padding: 4px;
  border-radius: 100%;
  z-index: -1;
}

.header-actions__auth-btn:hover,
.header-actions__link:hover {
  color: var(--white-color);
  background-color: var(--blue-active-color);
}

.filters-wrap {
  margin-bottom: var(--space-xl);
}

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-list__item {
  min-height: 45px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.4s ease-in;
}

.filter-list__item:hover {
  color: var(--blue-color);
}

.filter-list__item:hover .item-icon {
  filter: invert(71%) sepia(63%) saturate(2519%) hue-rotate(189deg) brightness(102%) contrast(102%);
}

.filter-list__item .item-title {
  margin-top: var(--space-xs);
}

.filter-aside {
  min-width: 220px;
  margin-right: var(--space-xxl);
}

.filter-aside__head {
  margin-bottom: var(--space-xl);
  padding: var(--space-s) var(--space-l);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-color);
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--mariner-color);
}

.filter-aside__head .icon {
  display: inline-block;
  margin-right: var(--space-m);
}

.filter-aside__dropdown {
  margin-bottom: var(--space-m);
  padding: 8px 12px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(58, 58, 68, 0.24), 0 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
}

.filter-aside__dropdown .dropdown-title {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #19191D;
}

.filter-aside__dropdown .dropdown-title .icon {
  cursor: pointer;
}

.dropdown-list__item {
  padding: 6px 0;
  display: flex;
}

.dropdown-checkbox {
  display: flex;
  width: 16px;
  margin-right: 16px;
  height: 16px;
  border: 1px solid #dadada;
  border-radius: 4px;
}

.dropdown-checkbox:checked {
  background-color: lightgreen;
}

.home-content {
  display: flex;
  align-items: flex-start;
}

.main {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-l);
  box-shadow: 0 1px 2px rgba(58, 58, 68, 0.24), 0 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
}

.main-sort {
  margin-bottom: 35px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-sort__select {
  border: 1px solid var(--jumbo-color);
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s ease-in;
}

.main-sort__select:hover {
  background-color: var(--light-grey-color)
}

.main-sort__control {
  display: flex;
  align-items: center;
}

.main-sort__btn {
  max-height: 38px;
  padding: 12px 26px;
  display: flex;
  align-items: center;
  background-color: var(--zumthor-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.main-sort__btn:hover,
.main-sort__btn--active {
  background-color: var(--white-color);
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
}

.main-sort__btn:hover img,
.main-sort__btn--active img {
  filter: invert(37%) sepia(48%) saturate(3880%) hue-rotate(208deg) brightness(102%) contrast(101%);
}

.main-list {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-list .card {
  max-width: 260px;
  align-items: flex-start;
  justify-content: space-between;
}

.main-features {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-features__item {
  margin: 12px;
  width: 100%;
  max-width: 340px;
  padding: 8px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey-color);
  border-radius: 8px;
}

.main-features .item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.main-features .item-description {
  font-size: 14px;
  line-height: 143%;
  color: var(--jumbo-color);
}

.footer {
  padding: 32px 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .header-wrap {
    display: none;
  }

  .filter-list {
    justify-content: center;
  }

  .filter-list__item {
    padding: 6px;
  }
}

@media (max-width: 1200px) {
  .main-features__item {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .filter-aside__head {
    margin-bottom: 16px;
    font-size: 21px;
  }

  .home-content {
    flex-direction: column;
  }

  .filter-aside {
    width: 100%;
    margin: 0 0 16px;
  }

  .filter-list__item {
    padding: 4px;
  }

  .filter-list__item .item-title {
    font-size: 14px;
  }
}

@media (max-width: 582px) {
  .main {
    padding: 8px;
  }

  .main-list .card {
    max-width: 100%;
  }

  .cart-counter {
    right: 1px;
  }
}
